/* Grid styles (replace the file) */


/* Base grid */
@x: 10px;
@y: 10px;

/* Columns, rows */
@col-width: (6 * @x);
@row-height: (6 * @y);

/* Gutters */
@gutter-width: (2 * @x);
@gutter-height: (2 * @y);


/* Generated variables (do not change) */

/* Column + gutter width shortcut */
@col-gutter-width: (@col-width + @gutter-width);

/* Column width shortcuts */
@col-width-1: @col-width;
@col-width-2: (2 * @col-width + @gutter-width);
@col-width-3: (3 * @col-width + 2 * @gutter-width);
@col-width-4: (4 * @col-width + 3 * @gutter-width);
@col-width-5: (5 * @col-width + 4 * @gutter-width);
@col-width-6: (6 * @col-width + 5 * @gutter-width);
@col-width-7: (7 * @col-width + 6 * @gutter-width);
@col-width-8: (8 * @col-width + 7 * @gutter-width);
@col-width-9: (9 * @col-width + 8 * @gutter-width);
@col-width-10: (10 * @col-width + 9 * @gutter-width);
@col-width-11: (11 * @col-width + 10 * @gutter-width);
@col-width-12: (12 * @col-width + 11 * @gutter-width);
@col-width-13: (13 * @col-width + 12 * @gutter-width);
@col-width-14: (14 * @col-width + 13 * @gutter-width);
@col-width-15: (15 * @col-width + 14 * @gutter-width);
@col-width-16: (16 * @col-width + 15 * @gutter-width);

/* Column + gutter width shortcuts */
@col-gutter-width-1: (@col-width-1 + @gutter-width);
@col-gutter-width-2: (@col-width-2 + @gutter-width);
@col-gutter-width-3: (@col-width-3 + @gutter-width);
@col-gutter-width-4: (@col-width-4 + @gutter-width);
@col-gutter-width-5: (@col-width-5 + @gutter-width);
@col-gutter-width-6: (@col-width-6 + @gutter-width);
@col-gutter-width-7: (@col-width-7 + @gutter-width);
@col-gutter-width-8: (@col-width-8 + @gutter-width);
@col-gutter-width-9: (@col-width-9 + @gutter-width);
@col-gutter-width-10: (@col-width-10 + @gutter-width);
@col-gutter-width-11: (@col-width-11 + @gutter-width);
@col-gutter-width-12: (@col-width-12 + @gutter-width);
@col-gutter-width-13: (@col-width-13 + @gutter-width);
@col-gutter-width-14: (@col-width-14 + @gutter-width);
@col-gutter-width-15: (@col-width-15 + @gutter-width);
@col-gutter-width-16: (@col-width-16 + @gutter-width);
